 .nav1{
height: 70px;
    display: flex;
    justify-content: space-around;
     align-items: center;
}
 .nav1 .nav-text{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #003668;
}
 .nav1 .calendar1 {
height: 50px;


}


.nav1 .icons i{
    color: #6F6F6F;
    font-size: 21px;
    cursor: pointer;
}
.nav1 .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
@media (max-width: 576px) {
    .menu-open{
        position: fixed !important;
        z-index: 99999999 !important;
        height: 100%;
    }
.all{
    max-width: 576px;
    width: 100%;
    overflow-x: hidden;

}
}

